[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libvpx_prebuilt"]
	path = libvpx_prebuilt
	url = https://github.com/denghe/libvpx_prebuilt.git
[submodule "spine-runtimes"]
	path = spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
