<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,0},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,704},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,880},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,880},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,1056},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,1056},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,1232},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,1232},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,1408},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,1408},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,1584},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,0},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,1584},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,1760},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,1760},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,1936},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,1936},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,2112},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,2112},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,2288},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,2288},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,2464},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,176},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,2464},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,2640},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,2640},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,2816},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,2816},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,2992},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,2992},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,176},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,352},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,352},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,528},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{172,528},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{0,704},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb.pkm</string>
            <key>size</key>
            <string>{344,3168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c590e110944bd3dc2a1a9ae92e191d:069e9faf920f4b1248eb624af627e081:b31a39ef8c9c16c5895b8168319445ec$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
