<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{71,127},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{109,65},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,9}</string>
                <key>spriteSourceSize</key>
                <string>{2,9}</string>
                <key>textureRect</key>
                <string>{{123,51},{2,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{101,57},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{103,73},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{102,117},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{83,155},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{55,155},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{69,155},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{3,3},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{79,127},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{71,111},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{71,22},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{71,3},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,6}</string>
                <key>spriteSourceSize</key>
                <string>{9,6}</string>
                <key>textureRect</key>
                <string>{{66,145},{9,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{78,135},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{79,145},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{89,138},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{110,129},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{111,21},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{71,94},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{71,58},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{91,3},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{71,40},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{111,3},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{87,75},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{23,155},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{39,155},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{111,38},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{87,58},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{87,90},{14,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{50,145},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,6}</string>
                <key>spriteSourceSize</key>
                <string>{10,6}</string>
                <key>textureRect</key>
                <string>{{111,79},{10,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{3,155},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{88,128},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{99,129},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{99,139},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{110,139},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{95,149},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{95,159},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{106,149},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{106,159},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{117,149},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{117,159},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{88,116},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{91,39},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{91,21},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{71,76},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pc</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{109,51},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{88,102},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{117,65},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{102,103},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{114,113},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ps</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{105,89},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{119,89},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{119,101},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tgameover</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,6}</string>
                <key>spriteSourceSize</key>
                <string>{71,6}</string>
                <key>textureRect</key>
                <string>{{3,135},{71,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tstart</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,6}</string>
                <key>spriteSourceSize</key>
                <string>{43,6}</string>
                <key>textureRect</key>
                <string>{{3,145},{43,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>space_shooter.pkm</string>
            <key>size</key>
            <string>{128,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7676d02d9f706363d9df676f25f59ad6:ea71e0ab2d4f719739dce1abc8771762:d2779c6e9aa9bbf2459f2354dcce4c0a$</string>
            <key>textureFileName</key>
            <string>space_shooter.pkm</string>
        </dict>
    </dict>
</plist>
