<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{103,101},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{123,109},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,9}</string>
                <key>spriteSourceSize</key>
                <string>{2,9}</string>
                <key>textureRect</key>
                <string>{{99,53},{2,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{113,69},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{81,94},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{119,65},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{119,75},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{67,96},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{79,100},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,9},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{123,115},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{83,67},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{85,9},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{67,9},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,6}</string>
                <key>spriteSourceSize</key>
                <string>{9,6}</string>
                <key>textureRect</key>
                <string>{{103,107},{9,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{109,117},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{100,123},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{88,129},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{76,132},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{103,43},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{67,70},{12,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ma3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{67,42},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ma4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{103,9},{16,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ma5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{85,25},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ma6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{103,27},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{82,81},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{67,84},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,10}</string>
                <key>textureRect</key>
                <string>{{96,81},{12,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,9}</string>
                <key>textureRect</key>
                <string>{{103,58},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mb5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{98,69},{10,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mc1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,8}</string>
                <key>spriteSourceSize</key>
                <string>{14,8}</string>
                <key>textureRect</key>
                <string>{{119,1},{14,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mc2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{96,93},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,6}</string>
                <key>spriteSourceSize</key>
                <string>{10,6}</string>
                <key>textureRect</key>
                <string>{{67,120},{10,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mc4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{85,41},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{110,83},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{110,91},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{110,99},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{119,101},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{91,113},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{114,109},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{100,115},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{91,121},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{79,124},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,6}</string>
                <key>spriteSourceSize</key>
                <string>{7,6}</string>
                <key>textureRect</key>
                <string>{{67,128},{7,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{119,53},{10,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{83,53},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{67,26},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{67,56},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pc</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{67,108},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{91,101},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{119,17},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{119,29},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>po3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{119,41},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ps</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{79,112},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{119,85},{6,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{119,93},{6,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tgameover</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,6}</string>
                <key>spriteSourceSize</key>
                <string>{71,6}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tstart</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,6}</string>
                <key>spriteSourceSize</key>
                <string>{43,6}</string>
                <key>textureRect</key>
                <string>{{74,1},{43,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>space_shooter.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b36bed72c2c2aa3d8330366ef5e46e6:ea71e0ab2d4f719739dce1abc8771762:a88dfac02ad878ffd68978cab1b1fcb7$</string>
            <key>textureFileName</key>
            <string>space_shooter.png</string>
        </dict>
    </dict>
</plist>
