<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_b1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{81,1},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_b2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{31,1},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_b3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_b4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{31,28},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_b5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{104,1},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_r1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{81,28},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_r2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{57,1},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_r3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{1,28},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_r4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{57,28},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plane_r5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{103,28},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gemini.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a082cead28ba9813da4c4dd1ecfba7b:d056afd703f275d7225237d2432d2379:4e9267fb21a88a12c3a8c844b417d8ff$</string>
            <key>textureFileName</key>
            <string>gemini.png</string>
        </dict>
    </dict>
</plist>
